body {
  background: linear-gradient(
    to bottom right,
    #ff4242,
    #f12e2e
  ); /* Gradiente de rojo intenso a carmesí */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor {
  display: flex;
  justify-content: center;
}

#carta {
  width: 100%;
  max-width: 600px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fondo blanco semi-transparente */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Sombra más suave */
  padding: 40px;
  border-radius: 20px;
  text-align: justify;
  position: relative;
}

#carta:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url("https://i.imgur.com/KjzTt8H.jpg"); /* Imagen del cosmos */
  opacity: 0.3;
  z-index: -1;
}

#texto {
  font-size: 20px;
  line-height: 1.8;
  color: #333; /* Color de texto ligeramente más oscuro */
}

/* Estilos adicionales para el título */
h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Color de texto blanco */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto suave */
}
